* {
    margin: 0;
    padding: 0;
}



body {

    background-image: url('https://i.pinimg.com/originals/cb/80/45/cb8045ec47469c98842425a0ade462bc.jpg');
    background-size: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}






.img2 {
    height: 300px;
    padding: 5px;
    justify-content: center;
    border: 8px;
    border-radius: 20px;
    border-style: dashed;
    color: rgb(255, 255, 255);
    grid-area: img2;


}

.img3 {
    height: 280px;
    padding: 0px;
    justify-content: center;
    border: 5px;
    margin: 7px;
    border-radius: 20px;
    border-style: dashed;
    color: rgb(255, 255, 255);
    grid-area: img3;
}



.recomendaciones_ivrea {
    width: 1000px;
    height: 50px;
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.recomendaciones_ivrea2 {
    height: 270px;
    padding: 0px;
    justify-content: center;
    margin: 5px;
}

.recomendacion_I{
    
    border: 10px;
    border-radius: 20px;
    border-style: solid;
    color: rgb(0, 0, 0);
    border: 10px;
    border-radius: 20px;
    border-style: solid;
    color: rgb(0, 0, 0);
    grid-area: img2;

}

.recomendacion1{
    height: 1000px;
}

.img1padre {
    display: grid;

    grid-template-rows: 50% 50%;
}

.img1 {
    width: 23%;
    border: 7px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    grid-area: img1;

}

.col {
    padding: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;

}

.contenido_de_mangas {
    gap: 40px;
    justify-items: center;
}

.contenido_de_mangas {
    gap: 20px;
    justify-items: center;
}



main {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px;
    padding: 40px;
    padding-bottom: 60px;
    background-color: rgba(86, 27, 141, 0.75);
    border-radius: 70px;
    grid-area: main;

}



main p {
    color: rgb(255, 255, 255);
    text-shadow: 1000px;
    font-size: 30px;
    background-color: rgba(125, 0, 0, 0.75);


}


strong {
    text-align: center;
}

.proposito {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('https://img.maspormas.com/2018/06/musel-del-manga.jpg');
    background-size: 1000px;


}

.relleno_mientas_no_haya_nada {
    margin: 3000px;
}

.proposito p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 35px;

}

.manga {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('https://pbs.twimg.com/media/D6V2wQdVUAAeCim?format=jpg&name=large');
    background-size: 500px;
    display: grid;
    grid-area: manga;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 1000px 350px;

}


.manga p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 25px;
    height: 995px;
    width: 625px;
    margin: 0px;

}

.manga-titulo {
    margin: 5px;
    size: 10px;
    font-size: 15px;
}

.textopararellenar {
    visibility: hidden;
    margin-bottom: 100px;
}


.videoexplicativo {
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-image: url('https://pbs.twimg.com/media/E4f2z6EXEAMf2U0?format=jpg&name=large');
    background-size: cover;
    background-repeat: no-repeat;
    position: static;

}

.videos {
    margin-right: 20px;
    margin-top: 15px;
}



.videojapon {
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-image: url('https://d20aeo683mqd6t.cloudfront.net/articles/title_images/000/040/775/original/japanese-flag_b.png?2022&d=750x400');
    background-size: 900px;
    background-repeat: repeat;
    position: static;

}




p {
    text-align: center;
    background-color: rgba(0, 17, 150, 0.75);
    font-size: 25px;
    padding: 30px;
    font-size: 50px;
    margin: 30px;
    border: 15px solid rgb(0, 0, 0);
}

h1 {
    text-align: center;
    background-color: rgba(146, 0, 0, 0.75);
    padding: 30px;
    margin: 20px 100px 20px 100px;
    border: 7px solid rgb(255, 255, 255);
    border-radius: 70px;
    font-size: 40px;
    border-style: solid;
}

.edit_ivrea {
    background-color: rgba(146, 0, 0, 0.75);
    background-size: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0%;
    margin-left: 20px;
    margin-right: 0%;
    padding: 0px;
    padding-top: 20px;
    border-radius: 25px;
    width: 460px;
    height: 70px;
    align-items: center;
    border-style: solid;
    font-size: 40px;
    border: 10px solid rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tittle_ivrea {
    display: grid;
    grid-template-columns: 500px 150px;

}

.ivrea_descripcion {
    background-color: rgba(10, 0, 154, 0.75);
    background-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 25px;
    border-style: solid;
    padding: 0%;
    height: 100px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0%;
    border: 10px solid rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ivrea_descripcion2 {
    background-color: rgba(10, 0, 154, 0.75);
    background-size: 50px;
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border-style: solid;
    font-size: 20px;
    margin: 50x 100px 20px 100px;
    border: 10px solid rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ivrea_img {
    width: 120px;
    height: 120px;
    margin-left: 10px;

}

.ivrea_main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 150px 900px;
    background-image: url("http://www.editorialivrea.com/secretos/wp-content/uploads/2017/11/fb_img_1511894713788152679695.jpg");
    background-size: 1000px;
    background-position: center;

    
}

h1 p {
    background-color: rgba(137, 43, 226, 0.75);
}

h2 {
    background-color: rgba(146, 0, 0, 0.75);
    background-size: 100px;
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 70px;
    border-style: solid;
    font-size: 40px;
    margin: 50x 100px 20px 100px;
    border: 7px solid rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.login {
    background-color: rgba(146, 0, 0, 0.75);
    font-weight: bold;

    border: 7px solid rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 70px;
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-rows: 20% 70%;

}


li {
    display: inline-block;

}



a {
    text-decoration: none;
    color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    grid-area: a;

}





footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: solid;
    text-overflow: clip;
    font-variant-position: normal;
    color: rgb(255, 255, 255);
    background-image: url("/img/fondos/footer.jpg");
    background-size: 1100px;
    background-position: center;
    margin-bottom: 0;
    margin-top: 1.5em;




}

footer strong {
    background-color: rgba(0, 0, 0, 0.53);
    font-size: 25px;
    font-weight: bold;
    background-position: center;
    text-align: center;
    text-decoration: dashed;
    border-radius: 30px;
    background-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


.redes {
    display: grid;
    grid-template-rows: 20px 20px 20px 20px;

}

.redes2 {
    margin-left: 15px;
    margin-right: 15px;
}

.index {
    background-color: rgba(146, 0, 0, 0.75);
    background-size: 100px;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 60px;
    font-weight: bold;
    grid-area: index;
    border-style: solid;
    font-size: 25px;
    margin: 50x 100px 20px 150px;
    border: 7px solid rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 25px;
}

.formulario {

    background-size: 1500px;
    background-repeat: no-repeat;
    background-image: url("http://3.bp.blogspot.com/-hcA7F8Z8-hs/TVWy0KGEZLI/AAAAAAAAALk/D3SOFQ79N9s/s1600/shonen_jump.jpg");
    background-position: 0px;
    background-position: left;
    color: rgb(24, 0, 119);
    border-color: black;
    width: 1350px;
    height: 320px;
    border-radius: 50px;
    border-style: solid;
    color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    align-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: 1fr;

}

.formulario fieldset {
    background-color: rgba(63, 63, 63, 0.69);
    margin-top: 10px;
    margin-bottom: 10px;
}

.norma {
    size: 10px;
}



.checkbox {
    text-align: left;
    background-color: rgb(101, 101, 101);
}



li {

    font-size: 40px;
    align-items: center;
    margin-top: 10px;



}




h3 {
    background-color: rgba(146, 0, 0, 0.75);
    background-size: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    border: 7px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 70px;
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-area: h3;

}


.envoltura {
    margin-bottom: 2em;
    gap: 20px;
    grid-template-areas:
        "header"
        "nav"
        "ad"
        "footer"

}


ul {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 50px;
    border-style: solid;
    background-image: url("https://www.industriaanimacion.com/wp-content/uploads/2022/02/Mangas_Mas_Leidos_2021-copia.jpg");
    background-size: 476px;
    border-color: black;
    margin: 20px;
    background-position: center;
    list-style-type: none;
    text-align: center;
    align-content: center;
}

header {
    color: rgb(255, 255, 255);
    text-align: left;
    display: grid;
    justify-content: center;
    grid-area: header;


}

nav {
    grid-area: nav;
}


nav ul li {
    list-style-type: none;
}

nav ul,
.ad,
section,
div {
    color: rgb(255, 255, 255);
}

.ivrea_logo {
    background-image: url("https://scontent.fmvd3-1.fna.fbcdn.net/v/t39.30808-6/304971035_520820520046543_7365047222400487603_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_ohc=BJ_8g9c6j3AAX8dTG9q&_nc_ht=scontent.fmvd3-1.fna&oh=00_AT_yjQdXxO5nFRNWjY9NIAHcYg2295nGOuFeHPMBSuP3kA&oe=6349649F");
    background-size: 200px;

    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    padding-top: 20px;
    padding-bottom: 20px;

}

.ad {
    grid-area: ad;
}

.norma_logo {
    background-image: url("https://www.normaeditorial.com/images/logo.svg");
    background-size: 150px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 170px;

}



.ovni_logo {
    background-image: url("https://d3ugyf2ht6aenh.cloudfront.net/stores/001/184/069/themes/common/logo-1309330010-1589027866-09fb8d9241145920bd6239942cfb06bb1589027866-480-0.png?0");
    background-size: 150px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    padding-top: 15px;
    padding-bottom: 20px;
    background-size: 170px;
}

.panini_logo {
    background-image: url("https://dojiw2m9tvv09.cloudfront.net/26518/brand/PANINIMANGA.png");
    background-size: 150px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    padding-top: 15px;
    padding-bottom: 20px;
    background-size: 170px;
}

.planeta_logo {
    background-image: url("https://www.zonanegativa.com/imagenes/2014/10/Planeta_Comic_Destacada.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    background-position: 6px;
}

.significado {
    color: rgb(255, 255, 255);
    font-size: 75px;
    padding: 10px;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchetc:\Users\Marcelo\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.html MS', sans-serif;

}




.kanji {
    background-image: url("https://i.ibb.co/72Mp83B/kanjis.jpg");
    background-size: 1500px;
    color: rgb(0, 0, 116);
    padding: 50px;
    font-size: 30px;
    border-radius: 70px;
    margin: 100px
}






.editoriales {
    color: rgb(255, 255, 255);
    background-image: url("https://i.ibb.co/vJvYx7y/editoriales-manga-2021.jpg");
    background-size: 200px;
    font-size: 30px;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.LogoEditorial {
    padding-right: 20px;
}

.editoriales-interior {
    display: grid;
    grid-template-columns: 60% 40%;

}

.editoriales-interior p {
    border-color: black;
    font-size: 35px;
    padding-bottom: 5px;
    padding: 20px;
    padding-top: 70px;
    border-radius: 30px;

}

.fotoeditorial {
    align-content: center;
    height: 550px;
    border-radius: 50px;
    border-style: solid;
    color: black;
    padding: 10px;
}

.edit {
    padding-right: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}